build/

bin/*
!bin/viewer
!bin/voxelizer
!bin/viewer.exe
!bin/voxelizer.exe

test/*
!test/input/
!test/output/

test/input/*
test/output/*

!test/input/.gitkeep
!test/output/.gitkeep
!test/output/test_case.zip