build/

bin/*
!bin/windows
!bin/wsl-linux
!bin/windows/voxelizer.exe
!bin/wsl-linux/voxelizer

test/*
!test/input/
!test/output/

test/input/*
test/output/*

!test/input/.gitkeep
!test/output/.gitkeep